header {
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    position: relative;
    z-index: 44;
  }

  nav ul {
    display: flex;
    
  }
  nav a {
    text-transform: capitalize;
    margin-right: 50px;
    color: #000;
    
  }

  .avatar{
    margin-left: 30px;
    display: flex;
    margin-right: 20px;
  }

  .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .logo img{
    width: 100px;
    height: auto;
    margin: 0;
    padding: 0;
    object-fit: cover;
  }

  header.active {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 4px 0 rgb(115 115 115 / 20%);
    z-index: 9999;
    background: #fff;
  }
  @media screen and (max-width: 768px) {
    header .logo  {
      display: none;    
    }
    nav a {
      font-size: 0.75rem;
      margin: 1rem;
    }
    .avatar {
      display: none;
    }
  }