.blog {
    margin: 50px 0;
  }
  .blog .boxItems {
    transition: 0.5s;
  }
  .blog .boxItems:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    cursor: pointer;
    transform: translateY(-5px);
  }
  .blog img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .blog .icon a {
    margin-right: 10px;
    font-size: 20px;
  }
 
  .blog h3 {
    font-weight: 500;
  }
  .blog p {
    color: #999;
    font-weight: 400;
    margin: 20px 0;
    font-size: 17px;
    line-height: 25px;
  }
  .blog .date {
    display: flex;
    justify-content: left;
    
  }
  .blog .date label {
    margin-left: 5px;
    display: block;
  }

  a{
    color: black;
  }